.xt-weather-thunder {
  border: unset;
  position: absolute;
  width: 100vw;
  height: 100vh;
  animation-name: thunder;
  animation-duration: var(--thunder-duration);
  animation-timing-function: linear;
  animation-delay: var(--thunder-delay);
  animation-iteration-count: infinite;
}

hr:not(.xt-weather-thunder) {
  width: 80px;
  border-color: transparent;
  // border-right-color: red;
  border-right-color: rgba(255, 255, 255, 0.7);
  border-right-width: 40px;
  position: absolute;
  bottom: 100%;
  transform-origin: 100% 50%;
  animation-name: rain;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rain {
  from {
    transform: rotate(105deg) translateX(0);
  }
  to {
    transform: rotate(105deg) translateX(100vh);
  }
}

@keyframes thunder {
  0% {
    background-color: transparent;
  }
  1% {
    background-color: white;
  }
  2% {
    background-color: rgba(255, 255, 255, 0.8);
  }
  8% {
    background-color: transparent;
  }
}

@keyframes thunderInner {
  0% {
    background-color: black;
  }
  1% {
    background-color: rgb(153, 153, 153);
  }
  2% {
    background-color: rgb(122, 122, 122);
  }
  8% {
    background-color: black;
  }
}
