.xt-weather-hover {
  cursor: pointer;
}

.xt-weather-detail {
  width: 200px;
  height: 100px;
  position: absolute;
  background: white;
  border-radius: 0.5em;
  padding: 1.3em;
  box-shadow: 0 0 18px 2px #ececec;
}
.xt-weather-container {
}
